<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.red{
			color: red;
		}
		.pink{
			color: pink;
		}
		.yellow{
			color: yellow;
		}
		.blue{
			color: blue;
		}
		
	</style>
</head>
<body>
	<div id="app">
	<!-- <p>{{list[0]}}</p>
	<p>{{list[1]}}</p>
	<p>{{list[2]}}</p>
	<p>{{list[3]}}</p> -->
	<!-- <p v-for="(item,index) in list">
		{{item}} ===={{index}}
	</p> -->
	<!-- 1:未付款
	2.已付款
	3.已发货
	4.签收 -->
	<p v-for="item in listdata">
		商品名：{{item.name}} 
		状态：
		<span v-if="item.type ===1" :class="item.type ===1?'red':''">未付款</span>
		<span v-else-if="item.type ===2" class="pink">已付款</span>
		<span  v-else-if="item.type ===3">已发货</span>
		<span v-else>签收</span>
		
		<!-- <span :class="item.type ===1?'red':''">未付款</span>
		<span :class="item.type ===2?'pink':''">已付款</span>
		<span :class="item.type ===3?'yellow':''">已发货</span>
		<span :class="item.type ===4?'blue':''">签收</span> -->
	</p>
	<!-- <p v-for="item in 10">
		{{item}}
	</p>
	<p v-for="(item,key) in obj">
		{{key}}:{{item}}
	</p>
	-->
	<!-- v-show 和v-if 的区别
	 1.v-show 本质上是通过display 设置为none 控制显示与隐藏
	 v-if 动态向dom树内添加或者删除dom元素
	 2.v-show 只编译一次，之后是通过css控制而v-if不停的销毁和创建，所以v-sho的性能好
	 -->
	<!-- v-for: key是来给每一个节点做一个唯一的标识 为了让vue可以区分它们
	 key的主要作用是为了高效的更新虚拟dom 减少资源消耗
	 理想的key 每一项都有切唯一的id
	 -->
	 <!-- 数组更新的检测 -->
	 <!-- 可以被检测到的数组操作 -->
	<p v-for="(item,index) in list" :key="index">
		{{item}}
	</p>
	<p v-for="item in arrfun()">
		{{item}}
	</p>
	</div> 
	<script src="lib/vue.js"></script>
	<script>
		new Vue({
			el:'#app',
			data:{
				list:['1111','2222','3333','44444'],
				listdata:[
					{name:'键盘',type:1},
					{name:'鼠标',type:2},
					{name:'显示器',type:3},
					{name:'主机',type:4},
					{name:'cup',type:1},
					{name:'gpu',type:2},
					{name:'gdp',type:3},
					{name:'xyz',type:4},
				],
				obj:{
					name:'张三',
					id:1,
					age:15
				}
			},
			methods:{
				handClass(){
					this.colorClass = !this.colorClass
				},
				arrfun(){
					return [123,321,258,315,541]
				}
				
			}
		})
	</script>
</body>
</html>